<h1>This is DevOps Class</h1>
<h1>  my node ip is "{{ansible_all_ipv4_addresses}}"</h1>
<h1>  my node family is "{{ansible_os_family}}"</h1>
<h1>  my web pck for ubuntu is "{{webserveronubuntu}}" </h1>
<h1>  my web pck for amazon is "{{webserveronamazon}}" </h1>